.lista-tarefas h2 {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lista-tarefas h2 img {
  width: 30px;
  margin-left: 10px;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(33, 35, 40);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: rgb(255, 255, 255);
}

ul li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 28px;
  border-radius: 50%;
  background-image: url("../../public/icons/circle.png");
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
}

ul li.checado {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
}

ul li.checado::before {
  background-image: url("../../public/icons/circle-check-big.png");
}

ul li span {
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: #555;

  text-align: center;
  border-radius: 50%;
}

.card-component {
  width: 100%;
  max-width: 540px;
  background: rgb(50, 53, 60);
  padding: 40px 30px 70px;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-component.dragging {
  opacity: 0.9;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  cursor: grabbing;
  z-index: 10;
}

.card-component h2 {
  color: rgb(255, 255, 255);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: grab;
}

.card-title,
.title-input {
  flex-grow: 1;
  margin-right: 15px;
}

.delete-card-button {
  background: transparent;
  color: #aaa;
  border: none;
  cursor: pointer;
}

.delete-card-button:hover {
  color: #ff5c5c;
}
